/* Colors */
$side-bar-color: #171717;
$btn-default-color: #797979;
$btn-default-hover-color: #e2e2e2;
$btn-action-color: #f58220;
$btn-action-hover-color: #ffaf4d;
$btn-disabled-color: #E3E3E3;
$checkbox-hover-color: #F5F5F2;
$online-color: #04AE00;
$offline-color: #e3e3e3;
$link-color: #57829e;
$link-hover-color: #ffa200;
$bg-table-color: #f2f2f2;
$positive-color: #74B67A;
$positive-hover-color: #96CC9B;
$negative-color: #DE5252;
$negative-hover-color: #EC7171;
$invalid-color: #FF0000;
$bg-color: #F5F5F3;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$default-font: 'Roboto', sans-serif;
