
.form-input {
  border-radius: 3px;
  color: #333333;
  font-family: $default-font;
  font-size: 14px;
  padding: 15px;
  text-align: left;
  outline: none;
  &::placeholder {
    color: #a6a6a6;
  }
  &:hover, &:focus {
    border: 1px solid #b1b1b1;
  }

  &[type='checkbox'] {
    display: none;
    ~ label {
      padding: 12px;
      &::before {
        background-color: #ffffff;
        border: 1px solid #e3e3e3;
        color: #ffffff;
        content: '\02714';
        display: inline-block;
        margin-right: 14px;
        width: 18px;
        height: 18px;
      }
    }

    &:checked ~ label::before {
      border-color: $online-color;
      background-color: $online-color;
    }
  }
  &[disabled] {
    color: #a6a6a6;
    cursor: not-allowed;
  }
}

.form-input {
  border: 1px solid #e3e3e3;
}

.input-icon {
  display: inline-block;
  font-size: 16px;
  transform: translate(30px);
  margin-left: -20px;
  z-index: 1;
  +.form-input {
    padding-left: 34px;
    z-index: 0;
  }
}
.date-period {
  @extend .form-input;
  display: inline-block;
  input {
    border: none;
    &:nth-child(2) {
      border-left: #9c9c9c solid 1px;
      padding-left: 14px;
    }
  }
  .icon-calendar {
    color: #9c9c9c;
    cursor: pointer;
    &:hover {
      color: #333333;
    }
  }
}