$boder-style: 1px solid #e3e3e3;
.general-statistic {
  padding-left: 10px;
  border-bottom: $boder-style;
  background-color: #ffffff;
  text-align: left;
}

button {
  background-color: #f58220;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px black groove;
  height: 40px;
  max-width: 100px;
  font-size: 15px;
}
tr:hover {background-color:#f5f5f5;}

table.glyphicon-hover .glyphicon {
  visibility: hidden;
}
table.glyphicon-hover tr:hover .glyphicon {
  visibility: visible;
}
table > tbody > tr > td > a {
  width: 15px;
  height: 10px;
  margin-left: 15px;

}
table {
  max-width: 800px;
}
.link{
  color: $link-color;
}
table > tbody > tr > td > .icon-links {
  color: $link-hover-color;
}
.title-row {
  color: #9c9c9c;
  font-weight: bold;
}