$boder-style: 1px solid #e3e3e3;
.general-statistic {
  padding-left: 10px;
  border-bottom: $boder-style;
  background-color: #F5F5F3;
  text-align: left;
}
main {
  background-color: #F5F5F3;
}
links {
  background-color: #F5F5F3;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px black groove;
  height: 40px;
  max-width: 100px;
  font-size: 15px;
}
tr.hover:hover {
  background-color:#f5f5f5;
}

table.glyphicon-hover .glyphicon {
  visibility: hidden;
}
table.glyphicon-hover tr:hover .glyphicon {
  visibility: visible;
}
table > tbody > tr > td > a {
  width: 15px;
  height: 10px;
  margin-left: 15px;
}
table > tbody > th {
  max-width: 700px;
}
table {
  max-width: 700px;
}
.link{
  color: $link-color;
}
table > tbody > tr > td > .icon-links {
  color: $link-hover-color;
}
.title-row {
  color: #9c9c9c;
  font-weight: bold;
}
container {
  width: 100%;
  max-width: 1600px;
}
.links-table {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  justify-content: center;
  border: 5px solid #f2f2f2;
  margin-left: 208px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  @media(max-width: 767px) {
    margin-left: 70px;
    btn {
      justify-content: center;
    }
    h1 {
      color: #9c9c9c;
    }
  }
}
.links-title {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  justify-content: left;
  border: 5px solid #f2f2f2;
  margin-left: 208px;
  margin-top: 20px;
  margin-bottom: -42px;
  margin-right: 20px;
    > h1 {
      color:#9c9c9c;
      font-size: 20px;
      padding-left: 5px;
      padding-bottom: 5px;
      text-transform: uppercase;
    }
  @media(max-width: 767px) {
    margin-left: 70px;
    }
}
.btn-table {
  text-align: center;
  justify-content: center;
}
.table-noborder {
  border: 0px;
}