$padding-left: 20px;
@mixin short-menu {
    min-width: 55px;
    max-width: 55px;
    .nav-menu a > span, .logo {
        display: none
    }
    .nav-menu a > i{
        margin-left: 0;
    }
    .menu-toggle {
        display: inline-block;
    }
    .your-manager {
        padding-left: 10px;
        .title, .manager-name, {
            display: none;
        }
        .manager-image {
            width: 26px;
            height: 26px;
        }
        .status {
            @include circle(10px);
        }
    }
}

.side-bar {
    font-family: $default-font;
    font-weight: 300;
    background-color: #191919;
    width: 10%;
    min-width: 188px;
    height: 100vh;
    font-size: 14px;
    position: fixed;


    .nav-header {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        .logo {
            display: inline-block;
            
        }
        .menu-toggle {
            cursor: pointer;
            display: inline-block;
            &::before {
                background-image: url(../images/hamburger.svg);
                background-size: cover;
                content: '';
                display: inline-block;
                height: 16px;
                width: 18px;
                position: relative;
                top: 3px;
            }
        }
        
    }

    .nav-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        li {
            width: 100%;
        }
        a {
            color: #818181;
            text-decoration: none;
            padding: 10px 0 10px 16px;
            display: block;
            border-left: 4px solid transparent;
            i {
                margin-right: 14px;
            }
            &:hover {
                border-left: 4px solid #f58220;
                background-color: #282828;
                color: #ffffff;
            }
        }
    }
    .your-manager {
        border-top: 1px solid #333333;
        padding: $padding-left;
        .title {
            color: #808080;
            font-weight: 500;
            letter-spacing: -0.28px;
            line-height: 42px;
            margin: 0;
            text-transform: uppercase;
        }
        .avatar {
            display: flex;
            cursor: pointer;
        }
        .manager-image {
            display: inline-block;
            position: relative;
            img {
                width: 100%;
            }
    
            .status {
                @include circle(12px);
                background-color: #04ae00;
                position: absolute;
                right: 0;
            }
        }
        .manager-name {
            color: #56819f;
            line-height: 40px;
            margin-left: 14px;
        }
    }

    &.short-menu {
        @include short-menu();
    }
    @media(max-width: 767px) {
        &.mobile-default {
            @include short-menu()
        }
      }
    
}



